.visor {
    width: 60% !important;
    left: 20% !important;
    right: 20% !important;
}

.visor-controls {
    display: none !important;
}

.examples {
    margin: 10px;
    width: 80px;
    height: 80px;
}
