.visor {
    width: 60% !important;
    left: 20% !important;
    right: 20% !important;
}

.visor-controls {
    display: none !important;
}

.examples {
    margin: 10px;
    width: 80px;
    height: 80px;
}

#draw-canvas {
    border: 1px solid black;
}

#prediction-graph {
    margin-top: 80px;
}

#prediction {
    font-size: 9em;
    float: right;
    border: 1px solid black;
    width: 140px;
    height: 140px;
    text-align: center;
    margin-right: 20%;
}
